.post-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post-img {
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  overflow: hidden;
}

.post-footer {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4em;
  padding: 0.5em 0.6em;
  width: 100%;
}
.footer-left,
.footer-right {
  display: flex;
}

.user-name {
  margin-left: 0.4em;
  margin-bottom: 0.16em;
  align-self: center;
  margin-right: auto;
  font-weight: 500;
  color: white;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: 1em;

  .icon {
    margin-right: 0.1em;
    color: white !important;
    font-size: 1.2em !important;
  }

  .icon-text {
    margin-left: 0.2em;
    font-size: 1em;
    color: white;
  }
}

@media (max-width: 768px) {
  .post-container {
    margin: 0 2em;
  }
}
