.landmark-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.landmark-img {
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  cursor: pointer;

  .landmark-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 0.5em;
    font-size: 1.6em;
    background: rgba(0, 0, 0, 0.5);
  }
}

.landmark-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.6em 0.1em;

  .footer-right {
    font-size: 1.2em;
    color: #9e9ea7;
  }
}
