#register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  min-width: 44em;
  border: 0.1em solid #c03ff3;
  border-radius: 2em;
  box-shadow: 0 0 0.2em 0.1em #c03ff3;
  background-color: white;

  h1 {
    background-image: linear-gradient(to top, #a832f6, #f368e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.2em;
    text-align: center;
    margin-bottom: 0.1em;
  }

  #sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    gap: 1.2em;
  }

  img {
    width: 4.2em;
    height: auto;
  }

  label {
    font-size: 1.6em;
    margin-bottom: 0.5em;
  }

  input {
    font-size: 1.6em;
    padding: 0.7em 0.5em;
    border-radius: 0.4em;
  }

  button {
    font-weight: 600;
    font-size: 2.2em;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.3em;
    background-color: #c03ff3;
    color: white;
    border: none;
  }

  a {
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 1.2em;
    color: #c03ff3;
  }
}

.error {
  transform: translateY(0em);
  margin-right: 0.4em;
  text-align: end;
  color: rgba(255, 0, 0, 0.747);
  font-size: 1.6em;
  height: 1em;
}

@media screen and (max-width: 450px) {
  #register-form {
    min-width: 100vw;
    padding: 3em 1em;
    border-radius: 1em;
    border: none;
    box-shadow: none;
  }
}
