.search-bar-container {
  position: absolute;
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  background-color: #f9f8f8;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  transition: width 0.3s ease, border-radius 0.1s ease-out,
    transform 0.3s ease-out;

  &.expanded {
    width: 15em;
    border-radius: 1em;
    transform: translateX(-4em);
  }
}

.search-input {
  font-size: 1em !important;
  margin-right: 1em;
  flex: 1;
}

#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
}

#search-icon {
  font-size: 2em;
  color: #cf51f2;
}

.search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 3.4em;
  left: 0.2em;
  border-radius: 0.6em;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0 0 0.5em 0.1em #00000040;
  z-index: 10000000;

  .search-result-item {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    gap: 1em;
    padding: 0.5em 1em;
    color: #000000;
    border-top: 0.1em solid #0000001a;
    transition: background-color 0.2s;

    &:first-child {
      border-top: none;
    }

    &:hover {
      background-color: #cf51f2;
      color: white;
    }

    .names {
      display: flex;
      flex-direction: column;
      transform: translateY(-0.1em);

      h2 {
        font-size: 0.8em;
      }
      p {
        font-size: 0.5em;
      }
    }
  }
}
.none {
  display: none;
}
@media (max-width: 1100px) {
  .search-bar-container {
    &.expanded {
      transform: translateX(-2em);
      width: 16em;
    }
  }
}

@media (max-width: 800px) {
  #search-button {
    &.expanded {
      display: none;
    }
  }
  .search-bar-container {
    height: 3.1;
    &.expanded {
      transform: translateX(0);
      width: 10.5em;
    }
  }
  .search-input {
    margin-left: 1em;
  }

  .search-results .search-result-item {
    padding: 0.5em 0.5em;
    gap: 0.5em;
    font-size: 1.1em;
  }
}
