.landmarks-section-container {
  padding-top: 3em;
  border: none;
  background-image: url("/images/account/feed-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.landmarks-container {
  margin: 5em auto;
  margin-top: 0;
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
  max-width: 1400px;
  width: 100vw;
}
#loading-or-error {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2em;
  font-size: 0.8em;
}
.no-posts {
  font-size: 1.8em;
  text-align: center;
}

@media (max-width: 768px) {
  .landmarks-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
