.post-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-popup {
  position: relative;
  width: 1400px;
  height: 700px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  width: 1em;
  left: 0.4em;
  top: 0.4em;
  background: rgba(0, 0, 0, 0.452);
  border: none;
  cursor: pointer;
  font-size: 3.2em;
  border-radius: 0.2em;
  transition: all 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  .icon {
    color: #fff;
    font-size: inherit;
  }
}

.post-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.post-image {
  width: 65%;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.845);
}

.post-details {
  flex: 2;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.post-header {
  position: relative;
  display: flex;
  margin-bottom: 3em;
  width: 100%;
}

.post-user {
  display: flex;
  gap: 0.5em;
  font-size: 2.2em;

  .user-info {
    flex-grow: 1;

    h2 {
      margin: 0;
      font-size: 0.8em;
      transform: translateY(-0.1em);
    }

    p {
      margin: 0;
      color: #888;
      font-size: 0.6em;
      transform: translateY(-0.3em);
    }
  }
}

.edit-btn,
.delete-btn {
  font-size: 2.4em;
  position: absolute;
  top: 0.35em;
  right: 0.7em;
}

.edit-btn {
  right: 2.8em;
}

.icon {
  font-size: inherit !important;
  transition: all 0.3s !important;

  &:hover {
    color: #cf51f2 !important;
  }
}

.post-text-content {
  font-size: 1.6em;
  padding: 0 0.2em;
  margin-bottom: 1em;
  height: 8em;
  overflow: scroll;
  word-break: break-word;
}

.like-comment-counts {
  display: flex;
  justify-content: space-between;

  .counts {
    display: flex;
    gap: 0.6em;
    align-items: center;
    font-size: 1.4em;
    padding: 0 0.4em;

    .counts-icon {
      font-size: 1.4em !important;
      color: #4d4b4b;
    }

    .counts-icon-text {
      font-size: 1.1em;
      color: #888;
    }
  }
}

.post-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.8em;
  margin-top: 1em;
  padding: 0.1em 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.post-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  height: 2.5em;
  width: 50%;
  gap: 0.5em;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #4d4b4b;

  &:hover {
    background-color: #f2f2f2;
  }

  .icons {
    font-size: 1.3em;
    color: #4d4b4b;
  }
}
.comments-section {
  margin-top: 20px;

  .comment {
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }

  button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
}

.dialog-title {
  font-size: 2.4em !important;
  font-weight: 500 !important;
}
.dialog-text {
  font-size: 1.6em !important;
}
.dialog-button {
  font-size: 1.6em !important;
}
