#about-section {
  font-size: 10px;
  display: flex;
  justify-content: center;
  background-image: url("/images/home/about-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
#about-container {
  width: 100%;
  max-width: 1400px;
  padding-bottom: 2em;
}

#feature-cards-container {
  transform: translateY(-5vh);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

#about-us-content-container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 4em 0;
}
#about-image-2,
#about-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

#about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}

#about-title {
  margin-top: 0.5em;
  font-size: 3.2em;
  background-image: linear-gradient(to top, #a832f6, #f368e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5em;
}

#about-description {
  font-size: 1.8em;
  color: hsl(283, 88%, 25%);
  line-height: 1.4em;
  margin-bottom: 2em;
  max-width: 600px;
}
@media (max-width: 1400px) {
  #feature-cards-container {
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    row-gap: 2em;
  }
}

@media (max-width: 800px) {
  #about-us-content-container {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0;
    margin-left: 0;
  }
  #about-image {
    width: 80%;
    margin-bottom: 3em;
  }
  #about-image-2 {
    display: none;
  }
  #about-text-container {
    width: 80%;
  }
  #about-title {
    font-size: 2.8em;
    margin-top: 0;
  }
  #about-description {
    font-size: 1.6em;
  }
}
