#header-main-container {
  display: flex;
  justify-content: center;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  height: 8em;
  box-shadow: 0 3px 4px -5px #c03ff3;
}
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
#header-logo {
  height: 56%;
  margin-top: 0.3em;
  margin-left: 3.6em;
}
#header-navigation-container {
  display: flex;
  justify-content: center;
}
#header-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 2.4em;
  margin-top: 0.2em;
  font-size: 2.2em;
  font-weight: 600;
}

.navigation-links {
  transition: opacity 0.2s ease-in-out;
  letter-spacing: 0.08em;
  background-image: linear-gradient(to top, #a832f6, #f368e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation-links:hover {
  opacity: 0.7;
}
#header-right {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  height: 4.8em;
  width: 16em;
  margin-right: 3em;
  margin-top: 0.2em;
}
.header-icons {
  font-size: 3.5em !important;
  transition: color 0.2s ease-in-out !important;
  &:hover {
    color: #c03ff3;
  }
}

#login-link-container {
  border: 0.2em solid #c03ff3ad;
  border-radius: 0.8em;
  padding: 0.4em 1.4em;
}
#login-link-content-container {
  display: flex;
  align-items: center;
}
.login-link-icon-container {
  height: 3.7em;
  width: 3.7em;
  background-image: linear-gradient(to top, #a832f6, #f368e0);
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.1s ease-out;
}

.login-icon {
  font-size: 3.5em !important;
  transition: all 0.2s !important;
}
.login-link-text {
  background-image: linear-gradient(to top, #a832f6, #f368e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 2.8em;
  letter-spacing: 0.06em;
  margin: 0 0.2em 0.1em 0.35em;
  transition: all 0.4s;
}
.login-link-icon-hover {
  color: #c03ff3;
  background-image: none;
  background-color: white;
}
.login-text-hover {
  transform: scale(1.03);
}
#menu-button {
  font-size: 0.14em;
  position: fixed;
  right: 16em;
  top: 17em;
  z-index: 10000;
}
#menu-icon {
  display: none;
  font-size: 7px;
  width: 6em;
  height: 4.5em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#menu-icon span {
  display: block;
  position: absolute;
  z-index: 10000;
  height: 0.9em;
  width: 100%;
  border-radius: 0.9em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#menu-icon span:nth-child(1) {
  top: 0px;
  background: #f368e0;
}

#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
  top: 1.8em;
  background: #ce4deb;
}

#menu-icon span:nth-child(4) {
  top: 3.6em;
  background: #a832f6;
}

#menu-icon.open span:nth-child(1) {
  top: 1.8em;
  width: 0%;
  left: 50%;
}

#menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-icon.open span:nth-child(4) {
  top: 1.8em;
  width: 0%;
  left: 50%;
}

#side-menu-navigation {
  font-size: 10px;
  font-weight: bolder;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  transition: right 0.5s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6em;
}

#side-menu-navigation.active {
  right: 0;
}
.navigation-links-side-menu {
  background-image: linear-gradient(to top, #a832f6, #f368e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  transition: opacity 0.2s ease-in-out;
}
.navigation-links-side-menu:hover {
  opacity: 0.7;
}
.search-dropdown-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.searchbar-container {
  width: 4.8em;
  height: 4.8em;
  position: relative;
}

@media (min-width: 2800px) {
  #header-container {
    max-width: 2000px;
  }
}
@media (min-width: 2000px) {
  #header-main-container {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  #header-navigation {
    display: none;
  }
  #header-logo {
    margin-left: 1.8em;
  }
  #header-right {
    margin-right: 8em;
    margin-top: 0.3em;
  }
  #menu-icon {
    display: block;
  }
  #menu-button {
    top: 21em;
  }
  #side-menu-navigation {
    font-size: 11px;
  }
}
@media (max-width: 800px) {
  #header-main-container {
    font-size: 9px;
  }
  #menu-icon {
    order: 3;
  }
  #menu-button {
    top: 19.5em;
    right: 15em;
  }
  #header-right {
    font-size: 8px;
    margin-top: 0.6em;
  }
}
